{% extends 'System/main.html' %}
{% block body %}
<br>
  <div class="row">
    <div class="col-md">
        <h5 style="margin-left:20px;">Faculty:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'createadmin'%}"> Create profile
            </a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>view</th>
                    <th>Name</th>
                    <th>Department</th>|
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                     {% for i in hods %}
                <tr>
                    <td></td>
                    <td><a class= "btn btn-sm btn-info" href="{% url 'viewadmin' i.id%}">view</a></td>
                    <td>{{i.name}}</td>
                    <td>{{i.dpart}}</td>
                    <td><a class="btn btn-warning" href="{% url 'updateadmin' i.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'deleteadmin' i.id %}">Delete</a></td>
                </tr>
                     {% endfor %}
            </table>
        </div>
    </div>
   
  </div>


{% endblock body %}