{% extends 'System/main.html' %}
{% block body %}
<br>
  <div class="row">
    <div class="col-md">
        <h5 style="margin-left:20px;">Faculty:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'facultyprofile'%}"> Create profile
            </a>
            <table class="table table-sm">
                <tr>
                    <th>view</th>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>SubType</th>
                    <th>Depart</th>
                    <th>Batch</th>
                    <th>Div</th>
                    <th>Total lect</th>
                </tr>
                     {% for i in fdata %}
                <tr>
                    <td><a class= "btn btn-sm btn-info" href="{% url 'fview' i.id%}">view</a></td>
                    <td>{{i.fname}}</td>
                    <td>{{i.fsub}}</td>
                    <td>{{i.subtype}}</td>
                    <td>{{i.dpart}}</td>
                    <td>{{i.batch}}</td>
                    <td>{{i.div}}</td>
                    <td>{{i.total}}</td>
                </tr>
                     {% endfor %}
            </table>
        </div>
    </div>
  </div>


{% endblock body %}