{% extends 'System/main.html' %}
{% block body%}
  <div class="row">
    <div class="col-md ">
        <div class="card card-body">
            <div class="d-flex">
                <div class="col-md-5">
                <h5>Uploads</h5>            
                </div>
            <div  class="col-md-5" >
                 <a style="margin-left:20px;" class="btn btn-outline-secondary btn-lg float-end"  href="{% url 'upld' %}">Add File</a>
                 <a class="btn btn-outline-primary btn-lg float-end"  href="{% url 'searchfile' %}">Search File</a>
                </form>
            </div>
        </div>

        <div class="card card-body">
            <table class="table ">
                <tr>

                    <th>Batch</th>
                    <th>Div and class</th>
                    <th>file</th>
                    <th>download</th>
                    <th>Delete</th>
                    <th>upadte</th>
                </tr>
                {% for i in upld reversed %}
                <tr>
                    <td>{{i.Batch}}</td>
                    <td>{{i.div}}</td>
                    <td>{{i.sheet}}</td>
                    
                    <td><a class= "btn btn-md btn-outline-info" href="{{i.fileupload.url}}" download="{{i.fileupload.url}}">{{i.sheet}}</a></td>
                    
                    <td><a class= "btn btn-md btn-outline-danger" href="{% url 'deletefile' i.id %}">Delete</td>
                    <td><a class= "btn btn-md btn-outline-warning" href="{% url 'updatefile' i.id %}">Update</td>   
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
  </div>
  </div>
{% endblock body%}