{% extends 'System/main.html' %}
{% block body %}
<br>
  <div class="row">

        <a style="margin-left:20px;" class="btn btn-success btn-lg float-left" href="{% url 'adminhome'%}">Back</a>
        <hr>
  <div class="col-md">
      <div class="card card-body">
          <h5>Contact Information</h5>
        <hr>
        <p> Name:  {{hd.name}}</p>
        <p> Department:  {{hd.dpart}}</p>
      </div>
  </div>

  <div class="col-md">
      <div class="card card-body">
          <h5 >Total </h5>
        <hr>
          <h1 style="text-align:center ;padding:10px">{{count}}</h1>
      </div>
  </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                <h5 href="" class="btn btn-primary" >Defaulter list</h5>
            </form>
        </div>
    </div>

</div>

<br>
  <div class="row">
    <h5 style="margin-left:20px;"></h5>
    <div class="col-md">
        <hr>
        <div class="card card-body">
            <table class="table table-sm table-light table-striped">
                <tr>
                    <th></th>
                    <th>Sr.No</th>
                    <th>faculty name</th>
                    <th>Div</th>
                    <th>Subject</th>
                    <th>Month</th>
                    <th>view</th>
                </tr>
                {% for i in fault reversed%}
                <tr>
                    <td></td>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.fname}}</td>
                    <td>{{i.div}}</td>
                    <td>{{i.fsub}}</td>
                    <td>{{i.month}}</td>
                    <td><a class="btn btn-info" href="{% url 'viewdefaulter' i.id %}">view</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
  </div>
{% endblock body%}