{% extends 'System/main.html' %}
{% block body %}
<br>
<div class="row">
        <a class="btn btn-success" href="#" >Defaulter list </a>
</div>

<br>
  <div class="row">
    <h5 style="margin-left:20px;"></h5>
    <div class="col-md">
        <hr>
        <div class="card card-body">
           <table class="table table-sm table-light table-striped">
                <tr>
                    <th></th>
                    <th>Sr.No</th>
                    <th>CNo</th>
                    <th>Student Name</th>
                    <th>phone no</th>
                    <th>Roll no</th>
                </tr>
                {% for i in dfroll%}
                <tr>
                    <td></td>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.cnum}}</td>
                    <td>{{i.Sname}}</td>
                    <td>{{i.Ph_no}}</td>
                    <td>{{i.roll_no}}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
  </div>
{% endblock body%}